In [30]:
import pandas as pd
import scipy.stats as stats

In [31]:
df=pd.read_csv(r"C:\Users\Vimal\Desktop\DAS\week8\Sales_add.csv")

In [32]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [33]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [34]:
df.shape

(22, 5)

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

In [35]:
df.mean()

Sales_before_digital_add(in $)    149239.954545
Sales_After_digital_add(in $)     231123.727273
dtype: float64

H0 : Sales after digital marketing > Sales before digital marketing

H1 : Sales after digital marketing <= Sales before digital marketing

In [36]:
st,p_val=stats.ttest_ind(df["Sales_After_digital_add(in $)"],df["Sales_before_digital_add(in $)"])
st,p_val

(12.995084451110877, 2.614368006904645e-16)

In [37]:
print("P Value :",f"{p_val:.27f}")

P Value : 0.000000000000000261436800690

P Value : 0.000000000000000261436800690 is less than 0.05 so we reject null hypothasis and accept H1 ie 
Sales after digital marketing <= Sales before digital marketing

# 2 The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [39]:
df.nunique()

Month                             22
Region                             3
Manager                            3
Sales_before_digital_add(in $)    22
Sales_After_digital_add(in $)     22
dtype: int64

H0 : Region and Manager are  independent features
    
H1 : Region and Manager are  dependent features

In [40]:
cross=pd.crosstab(df.Region,df.Manager)

In [41]:
cross

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [42]:
from scipy.stats import chi2_contingency
ch=chi2_contingency(cross)
ch

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [43]:
print("P Value : ",ch[1])

P Value :  0.5493991051158094

In [45]:
if ch[1] <= 0.05 :
    print("P value is < 0.05 so Reject H0 ie Region and Manager are  dependent features")
else:
    print("P value is > 0.05 so Accept H0 ie Region and Manager are  independent features")

P value is > 0.05 so Accept H0 ie Region and Manager are  independent features